#login_signup_heading{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color:#f1f6f7;
}
#login_signup_heading div{
    font-size: 36px;    
    font-weight: 400;
}

#login_signup_container{
    width: 80%;
    margin: 60px auto;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 600px;
}
#login_signup_container div{
    width: 50%;
}
#login_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #384AEB;
}
#login_box div{
    width: 80%;
    text-align: center;
}
#login_box1{
    font-size: 28px;
    font-family: serif;
    color:white;
}
#login_box2{
    padding-top: 16px;
    font-size: 16px;
    color:white;
}
#login_box3{
    padding-top: 42px;
    color:white;
}
#signup_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e9e9e9;
}
#login_button{
    width: 200px;
}
#register_button{
    width:310px;
    margin:24px auto;
}
#signup_box1{
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 32px;
    font-weight: 700;

}
#error_box{
    display: none;
    width: 300px;
    margin: auto auto;
    border: 1px solid rgb(255, 71, 71);
    background-color: rgb(245, 220, 220);
    color: rgb(255, 40, 40);
    border-radius: 4px;
    padding: 2px 18px;
    font-size: 12px;
    position: relative;
    bottom: 640px;
    left: 280px;
}